/* This hides unselectable checkboxes in the commit tree */
/* Note: display:none was not working for some reason beyond my understanding */
[rel=parentNode] > a > .jstree-checkbox {
  visibility:hidden;
  width:0%;
  height:0%;
}


/* Fancy scrollbar is fancy! */
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 10px;
display: block;
background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #ccc;
border: 1px solid #aaa;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
height: 50px;
background-color: #ccc;
border: 1px solid #aaa;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece  {
background-color: #fff;
border: 1px solid #aaa;
-webkit-border-radius: 6px;
}
/* end of fancy scrollbar */


body {
  font-family: verdana;
  min-width: 900px;
}

.bold-font {
  font-weight: bold;
  font-size: 14px;
}

#header {
  height: 70px;
  background: #aaa;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:5px;
}

#headerLeft{
  float:left;
  line-height:70px;
  font-size:30px;
  font-weight: bold;
  color: #fff;
  margin-left:10px;
}

#headerRight{
  float:right;
  display:table;
  line-height:70px;
  margin-right:15px;
  color: #fff;
}
#headerRight a:link {
  color: #0000FF;
  text-decoration: none;
}
#headerRight a:visited {
  color: #ddd;
}
#headerRight a:hover {
  color: #fff;
}

#topcenter {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  padding-top:5px;
  margin-bottom:5px;
  height: 200px;
  padding: 1em;
  padding-bottom:55px;
}

h3 {
  margin-top: 0px;
}

#topcolumn {
  width:48%;
  float:left;
  padding: 5px;
}

#treeHolder {
  height: 100%;
  overflow: auto;
}

#topcolumnsm {
  width:15%;
  float:left;
  padding: 5px;
}

#bottomcenter {
  float:left;
  width:100%;
}
#tabs11 {
  float: left;
  margin-bottom:10px;
}
.clear { clear: both}

#container {
    display: inline-block;
    position: relative;
    width: 70%;
    margin-left:10px;
    margin-bottom:10px;
}
#dummy {
    margin-top: 50%; /* 4:3 aspect ratio */
}
#chartdiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Hide the border when this widget is empty */
#githistory:empty{
    display:none
}
