body {
  font-family: verdana;
}

.bold-font {
  font-weight: bold;
  font-size: 14px;
}

#header {
}

#topcenter {
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border:1px solid #bbb;*/

  /* TODO: fix this silly resizing issue. */
  padding-bottom:60px;
  padding-top:5px;
  margin-bottom:5px;
  /*max-height: 400px;*/
  width: 97%;
  height: 300px;
  padding: 1em;
}

#topcolumn {
  width:32%;
  float:left;
  background:#fff;
  /*padding-bottom:10px;*/
  /*max-height: 400px; */
  height: 100%;
  overflow: auto;
  padding: 5px;
}

#topcolumnsm {
  width:15%;
  float:left;
  background:#fff;
  /*padding-bottom:10px;*/
  /*max-height: 400px; */
  height: 100%;
  overflow: auto;
  padding: 5px;
}

#bottomcenter {
  float:left;
  width:100%;
  background:#ddd;
}
#tabs11 {
  float: left
}
#tabs12 {float: right}
.clear { clear: both}

